html body {
    box-sizing: border-box;
    max-height: 700px;
    max-width: 59rem;
    font-size: 16px;
}

.block-style {
    background: slategray;
    height: 150px;
    margin: 2px;
}

.block:first-child {
    width: 59rem;
}

.block:nth-child(3) {
    width: 100%;
}

.block:nth-child(even) {
    width: 629px;
}

.h2-new {
    font-size: 12px;
}

.h3-new {
    font-size: 12px;
}